doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    title Webpack Example
  body
    h1 Webpack Example

    block content

    script(src='app.js')
    script.
      const hello = new com.example.Hello('John')
      const msg = hello.greet()
      console.log(msg)
      document.querySelector('#output').innerText = msg
